---
---

<section class="p-8 gradient text-white border-b-4 py-24">

  <div class="flex flex-col md:flex-row justify-between mx-auto md:max-w-[1060px] md:gap-20 items-center">
    
    <div class="md:w-1/2 mb-6 md:mb-0 md:py-6 flex flex-col md:gap-2 leading-relaxed">
      <h2 class="text-3xl leading-normal font-bold mb-4">¿Listo para transformar la comunicación escolar con TutorLink?</h2>
      <p class="mb-4">
        Solicita una demostración de TutorLink y descubre cómo podemos ayudar a tu institución a optimizar la comunicación y el seguimiento académico.
      </p>
      <p>
        Agrega tu información y nos pondremos en contacto contigo a la brevedad.
      </p>
    </div>
    
    <div class="w-full md:w-1/2 bg-white rounded-xl shadow-xl p-8 mt-4 md:mt-0">
      <h3 class="text-[#362C85] text-3xl font-bold">Contáctanos</h3>
      <form class="mt-8 text-gray-600">
        <div class="mb-4">
          <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
          <input type="text" id="name" name="name" required class="mt-1 block w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#01B161] hover:ring-[#01B161] transition-all duration-300">
        </div>
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input type="email" id="email" name="email" required class="mt-1 block w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#01B161] hover:ring-[#01B161] transition-all duration-300">
        </div>
        <div class="mb-4">
          <label for="institution" class="block text-sm font-medium text-gray-700">Centro Educativo</label>
          <input type="text" id="institution" name="institution" required class="mt-1 block w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#01B161] hover:ring-[#01B161] transition-all duration-300">
        </div>
        <div class="mb-4">
          <label for="phone" class="block text-sm font-medium text-gray-700">Teléfono</label>
          <input type="tel" id="phone" name="phone" required class="mt-1 block w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#01B161] hover:ring-[#01B161] transition-all duration-300">
        </div>
        <div class="mb-8">
          <label for="message" class="block text-sm font-medium text-gray-700">Mensaje</label>
          <textarea id="message" name="message" rows="4" required class="mt-1 block w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#01B161] hover:ring-[#01B161] transition-all duration-300"></textarea>
        </div>
        <button type="submit" class="w-full gradient text-white font-semibold py-3 rounded-lg shadow-md hover:shadow-lg">Enviar</button>
      </form>

    </div>

  </div>
  
</section>
