
<section class="bg-gray-100 p-8 py-20">
  <div class="container mx-auto md:max-w-[1060px] flex flex-col md:flex-row items-center justify-between">
    
    <picture class="md:w-1/2 mb-8 md:mb-0">
      <img src="/img/tutoria.png" alt="Tutoría" class="w-full">
    </picture>
    
    <div class="md:w-1/2 md:pl-12 text-center md:text-left">
      <h2 class="text-4xl font-bold text-gray-800 mb-4">Reserva de tutorías mediante WhatsApp</h2>
      <p class="text-lg text-gray-600 mb-6">
        Optimiza la reserva de tutorías con solo unos clics. El proceso es rápido y fácil tanto para padres como para profesores.
      </p>
      <a href="#" class="bg-[#01B161] text-white px-8 py-3 rounded-lg shadow-lg font-semibold hover:bg-[#01914b] transition-all duration-300">
        Demo
      </a>
    </div>
  </div>
</section>
